:root {
    --salmon: #EF9D71;
    --black: #000;
    --white: #FFF;
    --cyan: #80becc;
    --dsalmon: #78231a;
    --dcyan: #193d45;
}

.vdodiv {
    clip-path: circle(var(--clip) at 50% 50%);
}

body {
    transition: background-color ease-out .5s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: var(--salmon);
}

html,
body {
    height: 100%;
    width: 100%;

}

body[theme="black"] {
    background-color: var(--black);
    color: var(--white);
}

body[theme="black"] .section {
    color: var(--white);
}

body[theme="cyan"] {
    background-color: var(--cyan);
}

body[theme="cyan"] .section {
    color: var(--dcyan);
}

body[theme="salmon"] {
    background-color: var(--salmon);
}

body[theme="salmon"] .section {
    color: var(--dsalmon);
}

body[theme="white"] {
    background-color: var(--white);
}

body[theme="white"] .section {
    color: var(--black);
}